@import '../../style/variables.scss';

.app {
    &__banner {
        width: 100%;
        background-color: $dark;
        height: 100px;
        padding: 0 25px 0 45px;
        display: grid;
        grid-template-columns: 152px auto 133px;
        &-text {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            padding-left: 83px;
            padding-top: 18px;
        }
    }
}

@media (max-width: 800px) {
    .app {
        &__banner {
            height: auto;
            padding-bottom: 20px;

            &-text {
                padding-left: 10px;
            }
        }
    }
}

@media (max-width: 600px) {
    .app {
        &__banner {
            height: auto;
            padding-bottom: 0;

            display: grid;
            grid-template-columns: 160px 1fr;

            &-text {
                grid-row-end: span 3;
                align-self: center;
            }

            img:first-child {
                padding-top: 20px;
            }
        }
    }
}

@media (max-width: 400px) {
    .app {
        &__banner {
            grid-template-columns: 100px 1fr;

            &-text {
                padding-bottom: 20px;
                padding-left: 20px;
                font-size: 14pt;
            }

            img {
                width: 100%;
            }
        }
    }
}